
$theme-color: #050505; // 主题色
$theme-reverse-color: #ffffff;
$theme-light-color:transparent;


$barHeight: 103.7px; // 顶部bar的高度

// flex居中
@mixin flex-center ($vertical: false){
  display: flex;
  justify-content: center;
  align-items: center;
  @if $vertical {
      flex-direction: column;
  }
}

@mixin flex-between ($vertical:false){
    display:  flex;
    justify-content: space-between;
    align-items: center;
    @if $vertical {
        flex-direction: column;
    }
}


@font-face {
    font-family: 'line-outside';
    src: url(@/assets/fonts/line-outside.ttf) format('truetype');
}

@font-face {
    font-family: 'lattice';
    src: url(@/assets/fonts/lattice.ttf) format('trueType');
}

@font-face {
    font-family: 'trick-shot';
    src: url(@/assets/fonts/TrickShot.ttf) format('truetype');
}